@charset "UTF-8";
.wrapper {
  min-height: calc(100vh - 155px); }

ul, li {
  margin: 0;
  padding: 0; }

.container::before,
.container::after,
.clearfix::before,
.clearfix::after {
  content: '';
  display: table; }

.container::after,
.clearfix::after {
  clear: both; }

.container {
  width: 980px;
  margin: 0 auto; }

a:hover, a:visited, a:link {
  text-decoration: none; }

a {
  color: inherit; }

body {
  background-color: #231f20; }

.button {
  display: block;
  width: 81px;
  height: 24px;
  background-color: #b32017;
  border: 1px solid #b32017;
  text-align: center;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px; }

.button:hover {
  color: white; }

.line {
  width: 245px;
  height: 1px;
  background-color: white; }

.long-line {
  margin: 0 0 30px 0;
  background-color: #b32017;
  border: none;
  height: 3px; }

.line-wt {
  width: 745px;
  margin: 0 220px 50px 15px;
  background-color: #dadada;
  border: none;
  height: 2px; }

.flexslider {
  margin: 0;
  border: none; }

.flex-nav-next {
  display: none; }

.slides li {
  position: relative; }

.flex-control-nav {
  display: none; }

.baner-cont {
  position: absolute;
  top: 50px;
  left: 100px;
  width: 317px;
  height: 156px;
  background-color: rgba(35, 31, 32, 0.8); }

.truck .baner-cont h2 {
  margin: 20px 0 0 10px;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 30px;
  text-transform: uppercase; }

.truck .baner-cont .text {
  margin: 10px 0 0 10px;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px; }

.modal_form {
  width: 380px;
  height: 270px;
  border: 1px solid #707070;
  background: black;
  position: fixed;
  /* чтoбы oкнo былo в видимoй зoне в любoм месте */
  top: 45%;
  /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
  left: 50%;
  /* пoлoвинa экрaнa слевa */
  margin-top: -150px;
  margin-left: -150px;
  /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
  display: none;
  /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
  opacity: 0;
  /* пoлнoстью прoзрaчнo для aнимирoвaния */
  z-index: 9999999999;
  /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
  padding: 20px 10px; }

/* Кнoпкa зaкрыть для тех ктo в тaнке) */
.modal_form .modal_close {
  width: 15px;
  height: 15px;
  background: url("../../images/cross.png");
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: block; }

.modal_form .modal_close:hover {
  background: url("../../images/cross-hover.png"); }

/* Пoдлoжкa */
.overlay {
  z-index: 3;
  /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
  position: fixed;
  /* всегдa перекрывaет весь сaйт */
  background-color: #000;
  /* чернaя */
  opacity: 0.8;
  /* нo немнoгo прoзрaчнa */
  -moz-opacity: 0.8;
  /* фикс прозрачности для старых браузеров */
  filter: alpha(opacity=80);
  width: 100%;
  height: 100%;
  /* рaзмерoм вo весь экрaн */
  top: 0;
  /* сверху и слевa 0, oбязaтельные свoйствa! */
  left: 0;
  cursor: pointer;
  display: none;
  /* в oбычнoм сoстoянии её нет) */ }

.overlay {
  opacity: 0.36; }

.modal_form2 {
  width: 380px;
  height: 155px;
  border: 1px solid #707070;
  background: black;
  position: fixed;
  /* чтoбы oкнo былo в видимoй зoне в любoм месте */
  top: 45%;
  /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
  left: 50%;
  /* пoлoвинa экрaнa слевa */
  margin-top: -150px;
  margin-left: -150px;
  /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
  display: none;
  /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
  opacity: 0;
  /* пoлнoстью прoзрaчнo для aнимирoвaния */
  z-index: 9999999999;
  /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
  padding: 20px 10px; }

/* Кнoпкa зaкрыть для тех ктo в тaнке) */
.modal_form2 .modal_close2 {
  width: 15px;
  height: 15px;
  background: url("../../images/cross.png");
  position: absolute;
  top: 18px;
  right: 15px;
  cursor: pointer;
  display: block; }

.modal_form2 .modal_close2:hover {
  background: url("../../images/cross-hover.png"); }

/* Пoдлoжкa */
.overlay2 {
  z-index: 3;
  /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
  position: fixed;
  /* всегдa перекрывaет весь сaйт */
  background-color: #000;
  /* чернaя */
  opacity: 0.8;
  /* нo немнoгo прoзрaчнa */
  -moz-opacity: 0.8;
  /* фикс прозрачности для старых браузеров */
  filter: alpha(opacity=80);
  width: 100%;
  height: 100%;
  /* рaзмерoм вo весь экрaн */
  top: 0;
  /* сверху и слевa 0, oбязaтельные свoйствa! */
  left: 0;
  cursor: pointer;
  display: none;
  /* в oбычнoм сoстoянии её нет) */ }

.overlay2 {
  opacity: 0.36; }

.modal-window-sign-in h3 {
  margin: 20px 0 20px 0;
  text-align: center;
  color: #b32017;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 10px;
  text-transform: uppercase; }

.modal-window-sign-in .line {
  margin: 0 auto 30px auto;
  width: 180px; }

.modal-window-sign-in form input {
  margin: 0  0 10px 10px;
  padding-left: 15px;
  width: 343px;
  height: 35px;
  outline: none;
  border: 1px solid #707070;
  background-color: transparent;
  color: #848484;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px; }

.modal-window-sign-in form a {
  color: #848484;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  text-decoration: underline; }

.modal-window-sign-in form a:hover {
  color: #b32017; }

.modal-window-sign-in .sign-up {
  margin: 10px 0 0 10px;
  float: left; }

.modal-window-sign-in .forgot-password {
  margin: 10px 10px 0 0;
  float: right; }

.modal-window-sign-in form input:last-child {
  padding: 0;
  margin: 20px 10px 0 0;
  float: right;
  width: 101px;
  height: 28px;
  border: none;
  background-color: #b32017;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  cursor: pointer; }

.modal-window-forgot-password h3 {
  margin: 0 0 15px 0;
  text-align: center;
  color: #b32017;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 10px;
  text-transform: uppercase; }

.modal-window-forgot-password .line {
  margin: 0 auto 30px auto;
  width: 180px; }

.modal-window-forgot-password form input {
  margin: 0  0 10px 10px;
  padding-left: 15px;
  width: 343px;
  height: 35px;
  outline: none;
  border: 1px solid #707070;
  background-color: transparent;
  color: #848484;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px; }

.modal-window-forgot-password form input:last-child {
  padding: 0;
  margin: 20px 10px 0 0;
  float: right;
  width: 101px;
  height: 28px;
  border: none;
  background-color: #b32017;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  cursor: pointer; }

.baner-top img {
  width: 100%;
  height: 250px; }

.baner-bottom {
  margin: 0 0 50px 0; }

.baner-bottom img {
  width: 100%; }

.numbers {
  text-align: center; }
  .numbers ul {
    display: inline-block;
    list-style-type: none; }
  .numbers ul li {
    float: left;
    margin: 0 10px 0 0;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 17px; }
  .numbers ul li a:hover {
    color: #b32017; }
  .numbers .active {
    font-size: 18px;
    text-decoration: underline; }

.side-bar {
  float: right; }
  .side-bar ul {
    list-style-type: none;
    text-align: center; }
  .side-bar ul li a {
    margin: 0 0 10px 0;
    display: block;
    width: 170px;
    height: 36px;
    border: 1px solid white;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    text-transform: uppercase; }
  .side-bar ul li > a {
    cursor: pointer; }
  .side-bar ul li a:hover {
    background-color: #595959;
    border-color: #595959;
    color: black;
    font-weight: 600; }
  .side-bar ul li:first-child {
    position: relative; }
  .side-bar .arrow-down {
    background: url("../../images/diesel_club_static_page/arrow.png") no-repeat;
    width: 11px;
    height: 8px;
    position: absolute;
    top: 14px;
    right: 20px; }
  .side-bar ul > li > ul {
    display: none; }
  .side-bar ul li ul li {
    margin-bottom: 30px; }

.icons {
  margin: 20px 0 0 0; }
  .icons a {
    font-family: "Lato", sans-serif; }
  .icons .heands {
    float: left; }
  .icons .respect {
    float: left;
    margin: 2px 15px 0 15px;
    color: #dadbdd;
    font-size: 14px;
    font-weight: 700; }
  .icons p {
    float: left;
    margin: 2px 15px 0 0;
    font-family: "Lato", sans-serif;
    color: #b32017;
    font-size: 18px;
    font-weight: 700; }
  .icons .see-more {
    float: right;
    position: relative;
    margin: 2px 30px 0 0;
    color: white;
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline; }
  .icons .see-more:after {
    content: "";
    position: absolute;
    background: url("../images/right-arrow.png") no-repeat;
    width: 14px;
    height: 14px;
    top: 2px;
    right: -30px; }
  .icons a:hover {
    color: #b32017; }

.nav-menu .long-line:first-child {
  margin: 20px 0 10px 0;
  height: 1px;
  background-color: white; }

.nav-menu .long-line:last-child {
  margin: 10px 0 10px 0;
  background-color: #3d3739;
  height: 1px; }

.nav-menu ul {
  list-style-type: none; }

.nav-menu li a {
  float: left;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase; }

.nav-menu li:first-child {
  margin-left: 15px; }

.nav-menu li a::after {
  content: "|";
  font-size: 13px;
  margin: 0 9px; }

.nav-menu li:last-child a::after {
  content: "";
  margin: 0; }

.nav-menu ul li a:hover {
  color: #b32017; }

.nav-menu ul li a:hover::after {
  color: white; }

.carusel {
  position: relative;
  margin: 0 35px 0 35px;
  width: 660px;
  height: 90px; }
  .carusel img {
    width: 125px;
    height: 90px; }
  .carusel .flex-nav-next {
    display: block; }
  .carusel .flex-prev {
    left: -20px; }
  .carusel .flex-next {
    opacity: 1;
    right: -20px; }
  .carusel .flex-direction-nav a.flex-next:before {
    content: '';
    background: url("../images/next-arrow.png") no-repeat;
    width: 13px;
    height: 13px;
    margin-top: 7px; }
  .carusel .flex-prev::before {
    content: '';
    background: url("../images/prev-arrow.png") no-repeat;
    width: 13px;
    height: 13px;
    margin-top: 7px; }
  .carusel .flex-direction-nav a {
    width: 13px;
    height: 20px;
    margin: -14px 0 0 0;
    top: 50%; }

.add-photos-button {
  margin: 20px 0 20px 20px;
  width: 140px;
  height: 35px;
  border: 1px solid white;
  cursor: pointer; }

.add-photos-button a {
  display: block;
  margin: 0 0 0 20px;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 35px;
  position: relative; }

.add-photos-button a:after {
  content: "";
  position: absolute;
  top: 8px;
  right: 10px;
  width: 25px;
  height: 20px;
  background: transparent url("../images/white-arrow.png") no-repeat center center; }

.add-photos-button .active:after {
  background-color: #b32017; }

.photos-cont {
  margin: 20px 0 0 0;
  display: none;
  width: 760px; }
  .photos-cont .photo-cell {
    margin: 0 55px 65px 0;
    float: left;
    width: 190px; }
    .photos-cont .photo-cell img {
      width: 190px;
      height: 140px; }
    .photos-cont .photo-cell a {
      text-align: center;
      display: block;
      width: 90px;
      height: 25px;
      border: 1px solid #9d9b9b;
      color: white;
      font-family: "Lato", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 25px; }
    .photos-cont .photo-cell a:hover {
      background-color: #595959;
      border-color: #595959;
      color: black; }
    .photos-cont .photo-cell a:first-child {
      float: left; }
    .photos-cont .photo-cell a:last-child {
      float: right; }

.button-cont-last {
  margin: 0 65px 0 0;
  float: right; }
  .button-cont-last a {
    margin: 0 15px 0 0;
    text-align: center;
    float: left;
    width: 170px;
    height: 40px;
    background-color: #595959;
    color: #020202;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase; }
  .button-cont-last a:last-child {
    margin: 0; }
  .button-cont-last a:hover {
    background-color: #b32017;
    color: white; }

.h-page {
  background-color: black; }

.h-page h1 {
  float: left;
  text-align: center;
  margin-bottom: 20px; }

.h-page h1 img {
  width: 100px;
  height: 65px; }

.h-page form {
  float: left;
  margin: 40px 65px 0 80px; }

.h-page form input:first-child {
  padding: 0 0 0 15px;
  float: left;
  width: 460px;
  height: 24px;
  background-color: white;
  border: none;
  outline: none;
  color: #9c9c9c;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 700; }

.h-page form input:last-child {
  cursor: pointer;
  float: left;
  width: 48px;
  height: 24px;
  background-color: #4f454d;
  border: 1px solid #4f454d;
  outline: none;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px; }

.h-page .head-right {
  float: right;
  text-align: center; }

.h-page .head-right a {
  margin: 40px 10px 0 0;
  float: left; }

.h-page .head-right .button-cont {
  display: inline-block; }

.truck {
  position: relative; }

.truck .truck-cont {
  width: 100%;
  background-color: rgba(35, 31, 32, 0.65);
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  vertical-align: bottom; }

.truck .truck-cont h2 {
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px; }

.truck .truck-cont .text {
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px; }

.truck .line {
  margin: 15px auto 0 auto; }

.truck .truck-cont p {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase; }

.truck .truck-cont .truck-info {
  margin: 10px 40px 0 0;
  margin-right: 40px;
  float: left; }

.truck .truck-cont .truck-info img {
  margin-bottom: 10px; }

.truck .truck-cont .truck-info:last-child {
  margin-right: 0; }

.truck .truck-cont .info-cont {
  display: inline-block; }

.truck .button {
  margin: 0 auto 15px auto;
  width: 170px;
  height: 36px;
  border: 1px solid white;
  background-color: transparent;
  font-size: 14px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase; }

.truck .button:hover {
  background-color: #595959;
  color: black;
  border-color: transparent; }

.truck .word-left {
  position: absolute;
  bottom: 0;
  right: 15px;
  display: block;
  margin-bottom: 20px;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-decoration: underline; }

.truck .word-left:hover {
  color: #b32017; }

.latest-trucks h2 {
  margin: 35px 0 20px 15px;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase; }

.latest-trucks .flex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

.latest-trucks .flex-item:nth-child(1) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto; }

.latest-trucks .flex-item:nth-child(2) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto; }

.latest-trucks .flex-item:nth-child(3) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto; }

.latest-trucks .row {
  position: relative;
  text-align: center; }

.latest-trucks .truck-hover {
  display: none;
  position: absolute;
  background-color: rgba(35, 31, 32, 0.5);
  top: 0;
  left: 0;
  padding: 32% 0 31% 0;
  width: 100%;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 400; }

.latest-trucks .row:hover .truck-hover {
  display: block; }

.latest-trucks img {
  max-height: 170px;
  max-width: 230px; }

.make-truck h2 {
  margin-left: 15px;
  display: inline-block;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase; }

.make-truck .link {
  float: right;
  position: relative;
  margin: 45px 40px 0 0; }

.make-truck .link a {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: underline; }

.make-truck .link a:hover {
  color: #b32017; }

.make-truck .link:after {
  content: "";
  background: url("../images/right-arrow.png") no-repeat;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 2px;
  right: -20px; }

.make-truck ul li {
  margin: 0 0 10px 0;
  color: white; }

.make-truck ul li a {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400; }

.make-truck ul li a:hover {
  color: #b32017; }

.make-truck .flex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

.make-truck .flex-item:nth-child(1) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto; }

.make-truck .flex-item:nth-child(2) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto; }

.make-truck .flex-item:nth-child(3) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto; }

.make-truck .flex-item:nth-child(4) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto; }

.make-truck .flex-item:nth-child(5) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto; }

.popular-group h2 {
  margin-left: 15px;
  display: inline-block;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase; }

.popular-group .link {
  float: right;
  position: relative;
  margin: 45px 40px 0 0; }

.popular-group .link a {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: underline; }

.popular-group .link a:hover {
  color: #b32017; }

.popular-group .link:after {
  content: "";
  background: url("../images/right-arrow.png") no-repeat;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 2px;
  right: -20px; }

.popular-group .group-logo {
  max-width: 156px;
  position: relative; }

.popular-group .group-logo > a {
  display: block;
  background-color: white;
  width: 155px;
  height: 155px; }

.popular-group .group-logo img {
  position: absolute;
  height: 100px;
  width: 130px;
  top: 50%;
  margin-top: -86px;
  left: 50%;
  margin-left: -65px; }

.popular-group h3 a {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase; }

.popular-group .flex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

.popular-group .flex-item:nth-child(1) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto; }

.popular-group .flex-item:nth-child(2) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto; }

.popular-group .flex-item:nth-child(3) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto; }

.popular-group .flex-item:nth-child(4) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto; }

.popular-group .flex-item:nth-child(5) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto; }

.about-diesel h2 {
  margin: 110px 0 30px 15px;
  text-align: center;
  color: #e8ecef;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 22px;
  text-transform: uppercase; }

.about-diesel .text {
  margin: 0 15px 100px 15px;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: justify; }

.about-diesel .join-line {
  height: 50px;
  background-color: #b32017; }

.about-diesel .join-line > div {
  text-align: center;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 50px; }

.about-diesel .join-line a {
  color: white;
  font-weight: 700;
  text-decoration: underline; }

.about-diesel .tel {
  margin: 30px 0 40px 0;
  text-align: center;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 46px;
  font-weight: 300;
  line-height: 28px;
  text-transform: uppercase; }

.about-diesel .long-line {
  height: 1px;
  background-color: white; }

.about-diesel .last-logo {
  margin: 55px 0 70px 0;
  text-align: center; }

.st-page .side-bar {
  margin: 85px 10px 0 0; }

.st-page .st-cont {
  margin: 0 0 0 10px;
  float: left;
  width: 715px; }

.st-page img {
  margin: 0 30px 30px 0;
  float: left; }

.st-page h2 {
  margin: 30px 0 25px 0;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 22px;
  text-transform: uppercase; }

.st-page .text {
  margin: 0 0 75px 0;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: justify; }

.favorite-truck-list .side-bar {
  margin: 30px 25px 0 0; }

.favorite-truck-list .long-line:last-child {
  margin: 20px 0 30px 0;
  height: 1px;
  background-color: #3d3739; }

.favorite-truck-list .favorite-truck-list-cont {
  float: left;
  width: 760px; }
  .favorite-truck-list .favorite-truck-list-cont .long-line {
    margin-left: 15px;
    background-color: #dadada;
    height: 2px; }

.favorite-truck-list .favorite-truck-list-cont:last-child .long-line {
  background-color: transparent; }

.favorite-truck-list .favorite-truck-list-cont .favorite-truck-post {
  margin: 10px 0 25px 15px;
  color: white;
  font-family: "Lato", sans-serif; }
  .favorite-truck-list .favorite-truck-list-cont .favorite-truck-post h2 {
    margin: 0 0 15px 0; }
  .favorite-truck-list .favorite-truck-list-cont .favorite-truck-post h2 a {
    margin: 0 0 0 30px;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400; }
  .favorite-truck-list .favorite-truck-list-cont .favorite-truck-post .title-of-news {
    text-transform: uppercase; }
  .favorite-truck-list .favorite-truck-list-cont .favorite-truck-post .title-cont {
    float: left; }
  .favorite-truck-list .favorite-truck-list-cont .favorite-truck-post h2 a:hover {
    color: #b32017; }
  .favorite-truck-list .favorite-truck-list-cont .favorite-truck-post .date {
    margin: 0 0 0 30px;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px; }
  .favorite-truck-list .favorite-truck-list-cont .favorite-truck-post .model, .favorite-truck-list .favorite-truck-list-cont .favorite-truck-post .year, .favorite-truck-list .favorite-truck-list-cont .favorite-truck-post .text {
    margin: 0 0 12px 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px; }
  .favorite-truck-list .favorite-truck-list-cont .favorite-truck-post .text {
    padding: 90px 0 0 200px;
    margin-bottom: 0;
    text-align: justify; }
  .favorite-truck-list .favorite-truck-list-cont .favorite-truck-post .text-padding {
    padding-top: 100px; }

.favorite-truck-list .favorite-truck-list-cont .favorite-truck-post > a > img {
  float: left;
  width: 200px;
  height: 150px; }

.favorite-truck-list .button-cont {
  float: right; }

.favorite-truck-list .button {
  margin: 10px 0 0 40px;
  border: none;
  float: left;
  width: 70px;
  height: 30px;
  background-color: #595959;
  color: black;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px; }

.favorite-truck-list .button:hover {
  background-color: #b32017;
  color: white; }

.page-after-sign {
  margin: 40px 0 60px 0; }
  .page-after-sign .side-bar {
    margin: 0 30px 0 0; }
  .page-after-sign .user-photo {
    margin-left: 15px;
    float: left; }
  .page-after-sign .user-photo a {
    display: block;
    border-radius: 50%; }
  .page-after-sign .user-photo img {
    width: 230px;
    height: 230px;
    border-radius: 50%; }
  .page-after-sign .user-nickname {
    margin: 20px 0 0 0;
    text-align: center;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 42px; }
  .page-after-sign .user-info {
    float: left;
    text-align: center; }
    .page-after-sign .user-info .button {
      margin: 60px auto 0 auto;
      width: 130px;
      height: 40px;
      background-color: #595959;
      color: black;
      border: none;
      font-size: 16px;
      font-weight: 900;
      line-height: 40px;
      text-transform: uppercase; }
    .page-after-sign .user-info .button:hover {
      opacity: 1;
      background-color: #b32017;
      color: white; }
    .page-after-sign .user-info .user-info-cont a {
      margin-right: 20px;
      float: left;
      width: 130px;
      height: 120px;
      border: 1px solid white; }
    .page-after-sign .user-info .user-info-cont a:hover {
      background-color: #b32017; }
    .page-after-sign .user-info .user-info-cont a:nth-child(1) {
      margin-left: 30px; }
    .page-after-sign .user-info .user-info-cont a:nth-child(1) img {
      margin-bottom: 10px; }
    .page-after-sign .user-info .user-info-cont a:nth-child(2) {
      width: 160px; }
    .page-after-sign .user-info .user-info-cont img {
      margin: 20px 0 5px 0; }
    .page-after-sign .user-info .user-info-cont .text {
      color: white;
      font-family: "Lato", sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: 22px;
      text-transform: uppercase; }

.favorites-cont {
  margin: 60px 0 0 0; }
  .favorites-cont a:nth-child(1) {
    margin: 0 0 0 45px;
    float: left;
    color: #b32017;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 700;
    position: relative; }
  .favorites-cont a:nth-child(1)::after {
    content: "";
    background: url("../images/star.png") no-repeat;
    width: 16px;
    height: 15px;
    position: absolute;
    top: 4px;
    right: -25px; }
  .favorites-cont a:nth-child(2) {
    margin: 0 45px 0 0px;
    float: right;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 700;
    position: relative; }
  .favorites-cont a:nth-child(2)::after {
    content: "";
    background: url("../images/dog.png") no-repeat;
    width: 16px;
    height: 15px;
    position: absolute;
    top: 4px;
    right: -25px; }
  .favorites-cont a:nth-child(2):hover {
    color: #b32017; }

.all-news-profile a {
  margin: 60px 0 30px 0;
  display: inline-block;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: underline; }

.all-news-profile a:hover {
  color: #b32017; }

.user-photo {
  text-align: center; }
  .user-photo h2 {
    margin: 0 0 15px 0;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase; }
  .user-photo .user-nickname {
    margin: 20px 0 15px 0;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px; }
  .user-photo .line {
    border: none;
    width: 150px;
    height: 1px;
    background-color: whitesmoke; }
  .user-photo h3 {
    margin: 25px 0 20px 0;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase; }
  .user-photo .logo-group a img {
    width: 170px;
    height: 170px;
    border-radius: 0; }

.autor-of-group-info {
  float: left;
  margin: 0 60px 0 50px;
  width: 420px; }
  .autor-of-group-info .button {
    border: none;
    color: black;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 14px;
    text-transform: uppercase;
    line-height: 35px; }
  .autor-of-group-info .button-cont {
    float: right; }
    .autor-of-group-info .button-cont a:first-child {
      float: left;
      width: 125px;
      height: 35px;
      background-color: #595959; }
    .autor-of-group-info .button-cont a:last-child {
      margin-left: 30px;
      float: left;
      width: 160px;
      height: 35px;
      background-color: #595959; }
    .autor-of-group-info .button-cont a:hover {
      opacity: 1;
      color: white;
      background-color: #b32017; }
  .autor-of-group-info .favorite-group-button a:last-child {
    width: 190px; }
  .autor-of-group-info .text {
    margin: 70px 0 0 0;
    text-align: justify;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px; }
  .autor-of-group-info .text-cor {
    margin: 0; }
  .autor-of-group-info .text h2 {
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase; }
  .autor-of-group-info .text a {
    margin: 10px 30px 0 0;
    float: right;
    position: relative;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline; }
  .autor-of-group-info .text a:hover {
    color: #b32017; }
  .autor-of-group-info .text a:after {
    content: "";
    position: absolute;
    background: url("../images/right-arrow.png") no-repeat;
    width: 14px;
    height: 14px;
    top: 2px;
    right: -30px; }
  .autor-of-group-info .text p {
    margin: 0; }
  .autor-of-group-info .text-cor p {
    margin: 0 0 20px 0; }

.page-of-group .favorite-truck-list-cont .favorite-truck-post .date {
  margin-left: 30px; }

.page-of-group .favorite-group-button {
  width: 190px; }

.page-my-truck .my-truck-info {
  float: left;
  width: 760px;
  margin: 0 0 45px 0; }
  .page-my-truck .my-truck-info .button-cont {
    margin: 0 30px 0 0;
    float: right; }
  .page-my-truck .my-truck-info .button {
    margin: 0 0 0 40px;
    float: left;
    width: 125px;
    height: 35px;
    background-color: #595959;
    color: black;
    font-family: "Lato", sans-serif;
    border: none;
    font-size: 16px;
    font-weight: 900;
    line-height: 35px;
    text-transform: uppercase; }
  .page-my-truck .my-truck-info .button:hover {
    color: white;
    background-color: #b32017; }
  .page-my-truck .my-truck-info .info-cont {
    float: left;
    margin: 25px 0 0 45px;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px; }
  .page-my-truck .my-truck-info img {
    margin: 60px 0 0 15px;
    float: left;
    width: 300px;
    height: 220px; }
  .page-my-truck .my-truck-info div {
    margin: 0 0 40px 0; }
  .page-my-truck .my-truck-info a:nth-child(4) {
    margin: 27px 0 0 0;
    float: left;
    text-decoration: underline;
    text-transform: uppercase; }
  .page-my-truck .my-truck-info a:nth-child(5) {
    margin: 30px 0 0 0;
    float: right;
    font-size: 14px; }
  .page-my-truck .my-truck-info a:nth-child(5)::before {
    content: "<";
    margin: 0 5px 0 0; }
  .page-my-truck .my-truck-info a:hover {
    color: #b32017; }

.page-my-truck .favorite-truck-list .long-line:last-child {
  background-color: #dadada; }

.page-my-truck .favorite-truck-list .text .text-button {
  margin: 0 0 0 40px; }

.page-my-fleet .my-truck-info h2 {
  margin: 0 0 40px 0;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase; }

.page-my-fleet .my-truck-info img {
  width: 200px;
  height: 150px; }

.page-my-fleet .info-cont div {
  margin: 0 0 15px 0; }

.page-my-fleet .my-truck-info .model, .page-my-fleet .my-truck-info .year {
  font-size: 14px; }

.page-my-fleet .my-truck-info .info-cont .back-to-list {
  margin: 0 -130px 0 0;
  float: right; }

.page-my-fleet .simple-text {
  margin: 0 15px 60px 15px;
  width: 760px;
  text-align: justify;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px; }

.page-my-fleet .favorite-truck-list .favorite-truck-list-cont:last-child .long-line {
  background-color: #dadada; }

.home-page-of-my-fleet .my-truck-info .info-cont {
  margin-top: 0; }

.home-page-of-my-fleet .my-truck-info div {
  margin-bottom: 45px; }

.home-page-of-my-fleet .my-truck-info img {
  width: 300px;
  height: 220px; }

.home-page-of-my-fleet .my-truck-info .info-cont .back-to-list {
  margin-right: -70px; }

.home-page-of-truck .my-truck-info img {
  margin-top: 0;
  width: 300px;
  height: 220px; }

.home-page-of-truck .my-truck-info .info-cont {
  margin-top: 0; }

.home-page-of-truck .my-truck-info a:nth-child(4) {
  margin: 43px 0 0 0;
  position: relative;
  color: #b32017;
  text-decoration: none;
  text-transform: none; }

.home-page-of-truck .my-truck-info a:nth-child(4)::after {
  content: "";
  background: url("../images/star.png") no-repeat;
  width: 16px;
  height: 15px;
  position: absolute;
  top: 3px;
  right: -25px; }

.home-page-of-truck .my-truck-info .info-cont .back-to-list {
  margin: 48px -70px 0 0; }

.home-page-of-truck .info-cont div {
  margin-bottom: 35px; }

.page-of-my-news .page-after-sign .line-wt {
  height: 4px; }

.page-of-my-news .page-after-sign .favorite-truck-list-cont {
  float: left;
  width: 760px; }
  .page-of-my-news .page-after-sign .favorite-truck-list-cont .long-line {
    margin-left: 15px;
    background-color: #dadada;
    height: 2px; }

.page-of-my-news .page-after-sign .favorite-truck-list-cont:last-child .long-line {
  background-color: transparent; }

.page-of-my-news .page-after-sign .favorite-truck-list-cont .favorite-truck-post {
  margin: 10px 0 25px 15px;
  color: white;
  font-family: "Lato", sans-serif; }
  .page-of-my-news .page-after-sign .favorite-truck-list-cont .favorite-truck-post h2 {
    margin: 0 0 15px 0; }
  .page-of-my-news .page-after-sign .favorite-truck-list-cont .favorite-truck-post h2 a {
    margin: 0 0 0 30px;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400; }
  .page-of-my-news .page-after-sign .favorite-truck-list-cont .favorite-truck-post .title-of-news {
    text-transform: uppercase; }
  .page-of-my-news .page-after-sign .favorite-truck-list-cont .favorite-truck-post .title-cont {
    float: left; }
  .page-of-my-news .page-after-sign .favorite-truck-list-cont .favorite-truck-post h2 a:hover {
    color: #b32017; }
  .page-of-my-news .page-after-sign .favorite-truck-list-cont .favorite-truck-post .date {
    margin: 0 0 0 30px;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px; }
  .page-of-my-news .page-after-sign .favorite-truck-list-cont .favorite-truck-post .model, .page-of-my-news .page-after-sign .favorite-truck-list-cont .favorite-truck-post .year, .page-of-my-news .page-after-sign .favorite-truck-list-cont .favorite-truck-post .text {
    margin: 0 0 12px 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px; }
  .page-of-my-news .page-after-sign .favorite-truck-list-cont .favorite-truck-post .text {
    padding: 90px 0 0 200px;
    margin-bottom: 0;
    text-align: justify; }
  .page-of-my-news .page-after-sign .favorite-truck-list-cont .favorite-truck-post .text-padding {
    padding-top: 100px; }

.page-of-my-news .page-after-sign .favorite-truck-list-cont .favorite-truck-post > a > img {
  float: left;
  width: 200px;
  height: 150px; }

.page-of-my-news .page-after-sign .my-truck-info {
  margin-bottom: 0;
  position: relative; }
  .page-of-my-news .page-after-sign .my-truck-info .user-photo a {
    display: block; }
  .page-of-my-news .page-after-sign .my-truck-info .user-photo {
    margin: 0 0 0 15px; }
  .page-of-my-news .page-after-sign .my-truck-info .user-photo img {
    margin: 0 0 15px 0;
    width: 170px;
    height: 170px; }
  .page-of-my-news .page-after-sign .my-truck-info .user-nickname {
    margin-bottom: 15px;
    display: inline-block; }
  .page-of-my-news .page-after-sign .my-truck-info .user-photo .user-nickname {
    font-size: 16px; }
  .page-of-my-news .page-after-sign .my-truck-info .info-cont {
    margin-top: 0;
    float: right;
    position: relative; }
  .page-of-my-news .page-after-sign .my-truck-info .back {
    margin: 0 0 0 0;
    position: absolute;
    bottom: 64px;
    right: 30px;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400; }
  .page-of-my-news .page-after-sign .my-truck-info .back::before {
    content: "<";
    margin-right: 5px; }
  .page-of-my-news .page-after-sign .my-truck-info .back:hover {
    color: #b32017; }

.comments {
  width: 760px; }
  .comments .coms {
    margin: 0 0 30px 20px;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 900;
    font-variant: small-caps; }
  .comments .line-wt {
    height: 4px; }
  .comments form {
    margin: 10px 0 80px 15px;
    position: relative; }
  .comments form img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px; }
  .comments form textarea {
    width: 648px;
    height: 148px;
    padding: 20px 0 0 95px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 900;
    font-variant: small-caps;
    outline: none; }
  .comments .comment {
    margin: 0 0 0 15px;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400; }
    .comments .comment img {
      margin: 0 0 0 10px;
      float: left;
      width: 50px;
      height: 50px;
      border-radius: 50%; }
    .comments .comment .nickname {
      margin: 0 0 0 35px;
      float: left; }
    .comments .comment .date {
      margin: 0 0 0 190px;
      float: left; }
    .comments .comment .button {
      float: right;
      background-color: #595959;
      color: black;
      border: none; }
    .comments .comment .button:hover {
      color: white;
      background-color: #b32017; }
    .comments .comment .text {
      margin: 0 0 70px 0;
      padding: 0 0 0 85px;
      font-size: 14px;
      text-align: justify; }
    .comments .comment .line-wt {
      margin-left: 0; }

.page-of-news .page-after-sign .my-truck-info .line-wt {
  height: 1px; }

.page-of-news .page-after-sign .my-truck-info .line-wt {
  margin-bottom: 35px; }

.page-of-news .page-after-sign .carusel {
  margin: 0 35px 0 55px; }

.page-of-news .page-after-sign .favorite-truck-list-cont .favorite-truck-post {
  margin: 10px 0 65px 15px;
  color: white;
  font-family: "Lato", sans-serif; }
  .page-of-news .page-after-sign .favorite-truck-list-cont .favorite-truck-post h2 {
    display: block;
    margin: 0 0 15px 0; }
  .page-of-news .page-after-sign .favorite-truck-list-cont .favorite-truck-post h2 a {
    margin: 0 0 0 0;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400; }
  .page-of-news .page-after-sign .favorite-truck-list-cont .favorite-truck-post .title-of-news {
    text-transform: uppercase; }
  .page-of-news .page-after-sign .favorite-truck-list-cont .favorite-truck-post .title-cont {
    float: none; }
  .page-of-news .page-after-sign .favorite-truck-list-cont .favorite-truck-post h2 a:hover {
    color: #b32017; }
  .page-of-news .page-after-sign .favorite-truck-list-cont .favorite-truck-post .date {
    margin: 0 0 20px 0;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px; }
  .page-of-news .page-after-sign .favorite-truck-list-cont .favorite-truck-post .model, .page-of-news .page-after-sign .favorite-truck-list-cont .favorite-truck-post .year, .page-of-news .page-after-sign .favorite-truck-list-cont .favorite-truck-post .text {
    margin: 0 0 12px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px; }
  .page-of-news .page-after-sign .favorite-truck-list-cont .favorite-truck-post .text {
    padding: 0 0 0 0;
    margin-bottom: 0;
    text-align: justify; }
  .page-of-news .page-after-sign .favorite-truck-list-cont .favorite-truck-post .text-padding {
    padding-top: 100px; }

.page-of-news .page-after-sign .favorite-truck-list-cont .favorite-truck-post > a {
  float: left;
  margin: 0 5px 0 0; }

.page-of-news .page-after-sign .favorite-truck-list-cont .favorite-truck-post > a > img {
  float: none;
  width: 400px;
  height: 300px; }

.page-of-news .comments {
  width: 760px; }
  .page-of-news .comments .line-wt {
    height: 4px; }
  .page-of-news .comments form {
    margin: 10px 0 0 15px;
    position: relative; }
  .page-of-news .comments form img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px; }
  .page-of-news .comments form textarea {
    width: 733px;
    height: 60px;
    padding: 20px 0 0 10px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 900;
    font-variant: small-caps;
    outline: none; }
  .page-of-news .comments .icons {
    margin: 10px 0 60px 20px; }
  .page-of-news .comments .icons p {
    margin: 0px 15px 0 0; }

.page-of-photo-contest .side-bar {
  margin: 55px 30px 0 0; }

.page-of-photo-contest .photo-contest-text {
  margin: 0 0 0 15px;
  float: left;
  width: 730px; }

.page-of-photo-contest .photo-contest-text h2 {
  margin: 50px 0 30px 0;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase; }

.page-of-photo-contest .photo-contest-text .text {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: justify; }

.page-of-photo-contest .photo-contest {
  margin: 40px 0 40px 15px;
  float: left;
  width: 760px; }

.page-of-photo-contest .photo-contest .photo-cont {
  margin: 0 25px 25px 0;
  float: left; }
  .page-of-photo-contest .photo-contest .photo-cont img {
    width: 220px;
    height: 150px; }
  .page-of-photo-contest .photo-contest .photo-cont .button {
    margin: 10px 0 0 10px;
    float: left;
    width: 70px;
    height: 30px;
    background-color: #595959;
    color: black;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    border: none; }
  .page-of-photo-contest .photo-contest .photo-cont .button:hover {
    color: white;
    background-color: #b32017; }
  .page-of-photo-contest .photo-contest .photo-cont .votes {
    margin: 18px 2px 0 0;
    float: right;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-variant: small-caps; }
  .page-of-photo-contest .photo-contest .photo-cont .votes span {
    color: #b32017; }

.page-favorite-users .side-bar {
  margin: 45px 30px 0 0; }

.page-favorite-users .favorite-users-contest {
  margin: 45px 0 110px 15px;
  float: left;
  width: 760px; }

.page-favorite-users .favorite-photo-cont {
  margin: 0 30px 10px 0;
  float: left;
  width: 220px; }
  .page-favorite-users .favorite-photo-cont img {
    width: 220px;
    height: 150px; }
  .page-favorite-users .favorite-photo-cont .nickname {
    text-align: center;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-variant: small-caps; }
  .page-favorite-users .favorite-photo-cont .nickname a:hover {
    color: #b32017; }

.page-favorite-group .side-bar {
  margin: 45px 30px 0 0; }

.page-favorite-group .favorite-users-contest {
  margin: 45px 0 110px 15px;
  float: left;
  width: 760px; }

.page-favorite-group .favorite-photo-cont {
  margin: 0 60px 25px 0;
  float: left;
  width: 300px; }
  .page-favorite-group .favorite-photo-cont img {
    width: 300px;
    height: 200px; }
  .page-favorite-group .favorite-photo-cont .name-of-group {
    text-align: center;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-variant: small-caps; }
  .page-favorite-group .favorite-photo-cont .name-of-group a:hover {
    color: #b32017; }

.page-add-edit-news {
  margin: 0 0 50px 0; }
  .page-add-edit-news .text-cont {
    margin: 50px 0 40px 15px;
    width: 730px;
    float: left; }
    .page-add-edit-news .text-cont h2 {
      margin: 0 0 30px 0;
      color: white;
      font-family: "Lato", sans-serif;
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase; }
    .page-add-edit-news .text-cont .text {
      margin: 0 0 40px 0;
      color: white;
      font-family: "Lato", sans-serif;
      font-size: 17px;
      font-weight: 400;
      text-align: justify; }
  .page-add-edit-news .side-bar {
    margin: 50px 30px 0 0; }

.page-add-truck-edit-truck .text-cont {
  margin: 0 0 0 15px;
  float: left;
  width: 730px; }
  .page-add-truck-edit-truck .text-cont h2 {
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase; }
  .page-add-truck-edit-truck .text-cont .choose-make {
    float: left; }
  .page-add-truck-edit-truck .text-cont .choose-make {
    position: relative;
    z-index: 10; }
  .page-add-truck-edit-truck .text-cont .choose-make ul {
    margin: 0 30px 0 0;
    width: 170px;
    height: 35px;
    list-style-type: none;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    position: relative;
    cursor: pointer; }
  .page-add-truck-edit-truck .text-cont .choose-make ul:after {
    content: "";
    background: transparent url("../images/white-arrow.png") no-repeat center center;
    position: absolute;
    top: 8px;
    right: 10px;
    width: 25px;
    height: 20px; }
  .page-add-truck-edit-truck .text-cont .choose-make ul li {
    padding: 0 0 0 15px;
    background-color: #231f20;
    border: 1px solid white; }
  .page-add-truck-edit-truck .text-cont .choose-make ul li:nth-child(n+2) {
    border-top: none;
    display: none; }
  .page-add-truck-edit-truck .text-cont .text {
    margin: 55px 0 0 0;
    float: left;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400; }
  .page-add-truck-edit-truck .text-cont .add-photos {
    margin: 70px 0 70px 0;
    float: left; }

.page-add-truck-edit-truck .side-bar {
  margin: 50px 30px 0 0; }

.page-add-edit-group .text-cont {
  width: 730px;
  margin: 0 0 0 15px; }
  .page-add-edit-group .text-cont h2 {
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase; }
  .page-add-edit-group .text-cont form input {
    margin: 0 0 25px 0;
    padding: 0 0 0 2px;
    background-color: transparent;
    width: 490px;
    height: 50px;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid #838182;
    outline: none; }
  .page-add-edit-group .text-cont form textarea {
    padding: 60px 50px 0 25px;
    background-color: transparent;
    width: 625px;
    height: 90px;
    border: 1px solid white;
    outline: none;
    text-align: justify;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    font-weight: 400; }
  .page-add-edit-group .text-cont .photos-cont {
    float: left;
    width: 760px; }
  .page-add-edit-group .text-cont .textarea-cont {
    position: relative; }
    .page-add-edit-group .text-cont .textarea-cont h3 {
      margin: 0;
      position: absolute;
      top: 25px;
      left: 25px;
      color: white;
      font-family: "Lato", sans-serif;
      font-size: 14px;
      font-weight: 900;
      text-transform: uppercase; }
  .page-add-edit-group .text-cont .add-photos {
    margin: 30px 0 50px 0; }

.page-add-edit-group .side-bar {
  margin: 50px 30px 0 0; }

.page-add-fleet-edit-fleet .text-cont .add-photos {
  margin-top: 0;
  width: 760px; }

.page-add-fleet-edit-fleet .text-cont .choose-make ul {
  margin: 0 0 20px 0; }

.page-add-fleet-edit-fleet .text-cont .choose-make ul li {
  font-size: 16px;
  line-height: 33px; }

.page-add-fleet-edit-fleet .text-cont .z-index-9 {
  z-index: 9; }

.page-add-fleet-edit-fleet .text-cont .garage-cont {
  float: left;
  color: white;
  font-family: "Lato", sans-serif; }
  .page-add-fleet-edit-fleet .text-cont .garage-cont h2 {
    margin: 15px 0 15px 0;
    font-size: 16px;
    font-weight: 400; }
  .page-add-fleet-edit-fleet .text-cont .garage-cont .text {
    margin: 0 0 20px 0;
    float: none;
    font-size: 14px;
    font-weight: 400; }

.page-of-advanced-search .text-cont {
  margin: 0 0 50px 0; }
  .page-of-advanced-search .text-cont .choose-make ul {
    margin: 0;
    width: 190px;
    height: 30px; }
  .page-of-advanced-search .text-cont .choose-make ul li {
    font-size: 15px;
    line-height: 30px; }
  .page-of-advanced-search .text-cont .choose-make ul:after {
    top: 6px; }
  .page-of-advanced-search .text-cont .choose-make {
    margin: 0 0 20px 0; }
  .page-of-advanced-search .text-cont .choose-make:first-child {
    z-index: 11; }
  .page-of-advanced-search .text-cont h2 {
    margin: 30px 0 40px 0; }
  .page-of-advanced-search .text-cont .z-index-9 {
    z-index: 9; }
  .page-of-advanced-search .text-cont h3 {
    margin: 0 0 15px 0;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    font-weight: 400;
    clear: both; }
  .page-of-advanced-search .text-cont .text {
    margin: 20px 0 120px 0;
    text-align: justify; }
  .page-of-advanced-search .text-cont .button {
    float: right;
    width: 170px;
    height: 40px;
    border: none;
    background-color: #595959;
    color: black;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase; }
  .page-of-advanced-search .text-cont .button:hover {
    color: white;
    background-color: #b32017; }

.contact-us-feedback {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 16px; }
  .contact-us-feedback .contact-cont {
    margin: 0 0 0 15px;
    width: 730px; }
  .contact-us-feedback .side-bar {
    margin: 50px 30px 0 0; }
  .contact-us-feedback h2 {
    margin: 40px 0 30px 0;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase; }
  .contact-us-feedback .text {
    margin: 0 0 80px 0;
    font-size: 16px;
    font-weight: 400; }
  .contact-us-feedback .text-cont {
    margin: 0 0 110px 0; }
  .contact-us-feedback a:hover {
    color: #b32017; }
  .contact-us-feedback .text-cont .first-town {
    float: left; }
  .contact-us-feedback .text-cont .second-town {
    float: right; }
  .contact-us-feedback h3 {
    margin: 0 0 35px 0;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center; }
  .contact-us-feedback form {
    margin: 0 0 100px 0; }
  .contact-us-feedback form .form-cont {
    float: left;
    width: 340px; }
  .contact-us-feedback form input {
    margin: 0 0 5px 0;
    padding: 0 0 0 15px;
    width: 340px;
    height: 35px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid white;
    background-color: transparent;
    outline: none;
    text-transform: uppercase; }
  .contact-us-feedback form textarea {
    margin: 0 0 0 25px;
    padding: 15px 0 0 20px;
    float: left;
    width: 318px;
    height: 104px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid white;
    background-color: transparent;
    outline: none;
    text-transform: uppercase; }
  .contact-us-feedback form .button {
    margin: 5px 25px 0 0;
    padding: 0;
    float: right;
    width: 95px;
    height: 35px;
    border: 1px solid white; }
  .contact-us-feedback form .button:hover {
    color: white;
    background-color: #b32017;
    border-color: #b32017; }

.sign-up {
  margin: 0 0 100px 0; }
  .sign-up .side-bar {
    margin: 35px 30px 0 0; }
  .sign-up form {
    margin: 35px 0 0 0;
    float: left;
    width: 730px;
    text-align: right;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400; }
  .sign-up form input {
    margin: 0 0 0 15px;
    padding: 0 0 0 15px;
    width: 483px;
    height: 35px;
    border: 1px solid white;
    background-color: transparent;
    outline: none; }
  .sign-up .left {
    margin: 0 0 0 109px; }
    .sign-up .left label {
      padding: 8px 17px 0 0;
      float: left; }
  .sign-up #chose_file {
    float: left;
    text-align: center;
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;
    background-color: #595959;
    color: black; }
  .sign-up #chose_file:hover {
    color: white;
    background-color: #b32017; }
  .sign-up #chose_file_input {
    display: none; }
  .sign-up .checkbox {
    margin: 50px 0 0 228px;
    float: left;
    font-size: 14px;
    font-weight: 400; }
  .sign-up .checkbox label a {
    text-decoration: underline; }
  .sign-up .checkbox label a:hover {
    color: #b32017; }
  .sign-up input[type="checkbox"] {
    opacity: 0;
    width: 18px;
    height: 18px;
    margin: 0;
    border: 1px solid white;
    top: 0;
    position: relative; }
  .sign-up input[type="checkbox"] + label {
    min-height: 20px;
    display: inline-block;
    margin-left: -20px;
    padding: 0 0 0 30px;
    background: url("../images/checkbox0.png") no-repeat 0 0; }
  .sign-up input[type="checkbox"]:checked + label {
    background: url("../images/checkbox1.png") no-repeat 0 0; }
  .sign-up .right {
    float: right; }
  .sign-up .right .button {
    margin: 28px 0 0 0;
    padding: 0;
    width: 170px;
    height: 35px;
    background-color: transparent;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px; }
  .sign-up .right .button:hover {
    background-color: #b32017;
    border: none; }

footer .sosials {
  margin: 0 0 35px 0;
  text-align: center; }

footer .sosials a {
  margin: 0 35px 0 0; }

footer .sosials img:hover {
  opacity: 0.8; }

footer .sosials a:last-child {
  margin: 0; }

footer .footer-nav {
  text-align: center; }

footer .footer-nav ul {
  list-style-type: none; }

footer .footer-nav ul li {
  margin: 0 10px 30px 20px;
  display: inline-block;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400; }

footer .footer-nav ul li a {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400; }

footer .footer-nav ul li a:hover {
  color: #b32017; }

footer .long-line {
  height: 1px;
  background-color: #3d3739;
  margin: 0 0 5px 0; }

footer .development {
  margin: 0 0 5px 0;
  text-align: center;
  color: #3d3739;
  font-family: "Lato", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 22px; }
