
.h-page{
  background-color: black;
}
.h-page h1{
  float: left;
  text-align: center;
  margin-bottom: 20px;
}
.h-page h1 img{
  width: 100px;
  height: 65px;
}
.h-page form{
  float: left;
  margin: 40px 65px 0 80px;
}
.h-page form input:first-child{
  padding: 0 0 0 15px;
  float: left;
  width: 460px;
  height: 24px;
  background-color: $mainTextColor;
  border: none;
  outline: none;

  color: rgb(156, 156, 156);
  font-family: $mainFont;
  font-size: 12px;
  font-weight: 400;

  font-family: $mainFont;
  font-size: 12px;
  font-weight: 700;
}
.h-page form input:last-child{
  cursor: pointer;
  float: left;
  width: 48px;
  height: 24px;
  background-color: rgb(79, 69, 77);
  border: 1px solid rgb(79, 69, 77);
  outline: none;

  color: $mainTextColor;
  font-family: $mainFont;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}

.h-page .head-right{
  float: right;
  text-align: center;
}
.h-page .head-right a{
  margin: 40px 10px 0 0;
  float: left;
}
.h-page .head-right .button-cont{
  display: inline-block;
}

//@media screen and (min-width: 992px ){
//  .h-page h1{
//    float: left;
//  }
//  .h-page form{
//    float: left;
//    margin: 40px 70px 0 80px;
//  }
//  .h-page form input:first-child{
//    width: 460px;
//  }
//  .h-page form input:last-child{
//    width: 48px;
//  }
//  .h-page .head-right{
//    float: right;
//  }
//  .h-page .head-right a{
//    margin: 40px 3px 0 0;
//    float: left;
//  }
//}