.home-page-of-my-fleet{
  .my-truck-info .info-cont{
    margin-top: 0;
  }
  .my-truck-info h2{

  }
  .my-truck-info div{
    margin-bottom: 45px;
  }
  .my-truck-info img{
    width: 300px;
    height: 220px;
  }
  .my-truck-info .info-cont .back-to-list{
    margin-right: -70px;
  }
}