.page-add-edit-news{
  margin: 0 0 50px 0;
  .text-cont{
    margin: 50px 0 40px 15px;
    width: 730px;
    float: left;
    h2{
      margin: 0 0 30px 0;
      color: $mainTextColor;
      font-family: $mainFont;
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase;
    }
    .text{
      margin: 0 0 40px 0;
      color: $mainTextColor;
      font-family: $mainFont;
      font-size: 17px;
      font-weight: 400;
      text-align: justify;
    }
  }
  .side-bar{
    margin: 50px 30px 0 0;
  }
}