.user-photo{
  text-align: center;
  h2{
    margin: 0 0 15px 0;
    color: $mainTextColor;
    font-family: $mainFont;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .user-nickname{
    margin: 20px 0 15px 0;
    color: $mainTextColor;
    font-family: $mainFont;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
  }
  .line{
    border: none;
    width: 150px;
    height: 1px;
    background-color: whitesmoke;
  }
  h3{
    margin: 25px 0 20px 0;
    color: $mainTextColor;
    font-family: $mainFont;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .logo-group{

  }
  .logo-group a img{
    width: 170px;
    height: 170px;
  }
}
.autor-of-group-info{
  float: left;
  margin: 0 60px 0 50px;
  width: 420px;
  .button{
    border: none;
    color: black;
    font-family: $mainFont;
    font-size: 16px;
    font-weight: 700;
    line-height: 14px;
    text-transform: uppercase;
    line-height: 35px;
  }
  .button:hover{
    opacity: 1;
    color: $mainTextColor;
    background-color: rgb(179, 32, 23);
  }
  .button-cont {
    float: right;
    a:first-child {
      float: left;
      width: 125px;
      height: 35px;
      background-color: rgb(89, 89, 89);
    }
    a:last-child {
      margin-left: 30px;
      float: left;
      width: 160px;
      height: 35px;
      background-color: rgb(89, 89, 89);
    }
  }
  .text{
    margin: 70px 0 0 0;
    text-align: justify;
    color: $mainTextColor;
    font-family: $mainFont;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
  }
}