.page-my-truck {
  .my-truck-info {
    float: left;
    width: 760px;
    margin: 0 0 45px 0;
    .button-cont {
      margin: 0 30px 0 0;
      float: right;
    }
    .button {
      margin: 0 0 0 40px;
      float: left;
      width: 125px;
      height: 35px;
      background-color: rgb(89, 89, 89);

      color: black;
      font-family: $mainFont;
      border: none;
      font-size: 16px;
      font-weight: 900;
      line-height: 35px;
      text-transform: uppercase;
    }
    .button:hover {
      color: $mainTextColor;
      background-color: rgb(179, 32, 23);
    }
    .info-cont {
      float: left;
      margin: 25px 0 0 45px;
      color: $mainTextColor;
      font-family: $mainFont;
      font-size: 18px;
      font-weight: 400;
      line-height: 18px;
    }
    img {
      margin: 60px 0 0 15px;
      float: left;
      width: 300px;
      height: 220px;
    }
    div {
      margin: 0 0 40px 0;
    }
    a:nth-child(4) {
      margin: 27px 0 0 0;
      float: left;
      text-decoration: underline;
      text-transform: uppercase;
    }
    a:nth-child(5) {
      margin: 30px 0 0 0;
      float: right;
      font-size: 14px;
    }
    a:nth-child(5)::before {
      content: "<";
      margin: 0 5px 0 0;
    }
    a:hover {
      color: rgb(179, 32, 23);
    }
  }
  .favorite-truck-list {
    .long-line:last-child{
      background-color: #dadada;
    }
    .text .text-button {
      margin: 0 0 0 40px;
    }
  }


}