.line{
  width: 245px;
  height: 1px;
  background-color: white;
}
.long-line{
  margin: 0 0 30px 0;
  background-color: rgb(179, 32, 23);
  border: none;
  height: 3px;
}
.line-wt{
  margin: 0 220px 50px 15px;
  background-color: #dadada;
  border: none;
  height: 2px;
}