.numbers{
  text-align: center;
  ul{
    display: inline-block;
    list-style-type: none;
  }
  ul li{
    float: left;
    margin: 0 10px 0 0;
    color: $mainTextColor;
    font-family: $mainFont;
    font-size: 17px;
    font-weight: 700;
    line-height: 17px;
  }
  ul li a:hover{
    color: rgb(179, 32, 23);
  }
  .active{
    font-size: 18px;
    text-decoration: underline;
  }

}